<mat-toolbar color="primary">
  <a class="mat-focus-indicator docs-button mat-button mat-button-base" href="#">
    <span class="mat-button-wrapper">
      <img src="assets/images/usuarios-50.png" width="35" height="35">
      <span style="font-size: large;">{{ title }}</span>
    </span>
    <span matripple class="mat-ripple mat-button-ripple"></span>
    <span class="mat-button-focus-overlay"></span>
  </a>
  <a routerLinkActive="docs-navbar-header-item-selected" href="/usuario/novo"
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted docs-navbar-header-item-selected">
    <span class="mat-button-wrapper" style="font-size: large;">{{ newUser }}</span>
    <span matripple class="mat-ripple mat-button-ripple"></span>
    <span class="mat-button-focus-overlay"></span>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
